body {
    background-color: #065343;
}

.container {
    max-width: 500px;
    background: rgb(186, 192, 224);
    padding: 45px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
